@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
*
{
    margin: 5px 5px;
    padding: 5px 5px ;
    box-sizing: border-box;
   }
body
{
    font-family: 'Cormorant Garamond', serif;
    text-align: justify;
    background-color:  #F0FFF0;
}